<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457738963694-4ldtnjo517o1uani9plogjlgi8v313is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457738963694-4ldtnjo517o1uani9plogjlgi8v313is</string>
	<key>API_KEY</key>
	<string>AIzaSyANpSg7o7Wnvun7nnwAeaE3Xyuoz7iWI6o</string>
	<key>GCM_SENDER_ID</key>
	<string>457738963694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoshinobu.Messaging-App</string>
	<key>PROJECT_ID</key>
	<string>messaging-app-18a3e</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-app-18a3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457738963694:ios:09f9ed47f11d805dfe81ff</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-app-18a3e.firebaseio.com</string>
</dict>
</plist>